[color]
	ui = auto
[user]
	name = Max Nanasy
	email = max.nanasy@gmail.com
[alias]
	unstage = reset HEAD
	i-made-these = filter-branch --env-filter git-i-made-these.env-filter
[core]
	excludesfile = /var/mobile/.gitignore_global
